.container {
    background-color: white;
    margin-top: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 400px;
    height: 540px;
    width: 80%;
}

.table-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 95%;
    height: 500px;
    width: 95%;
    overflow: auto;
}

.mat-row {
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    width: 95%;
}

/* .row-format {

} */

table{
    width: 100%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: table;
    border-collapse: collapse;
}

.mat-cell,
.mat-header-cell {
    font-size: smaller;
}
.cb-format {
    width: 30px;
}

.doc-format {
    width: 120px;
    font-weight: 600;
}

.n-format {
    width: 320px;
}

.m-format {
    width: 100px;
}

.a-format {
    width: 60px;
}

.t-format {
    width: 120px;
}



.e-format {
    width: 100px;
    text-align: center;
}


.o-format {
    width: 30px;
    text-align: center;
}

.more-format {
    width: 30px;
    text-align: right;
}

.mat-divider {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.green-circle {
    color: #4BB04F;
}
.orange-circle {
    color: #FFC113;
}
.red-circle {
    color: #ED3F7A;
}

.comment { padding: 2px 10px; }

.table-icon { 
    color: #757575;
    font-size: 20px;
}

.options-icon { 
    color: #BDBDBD;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

mat-grid-list { background-color: white; }

.paginator {
    position:absolute;
    left: 0px;
}

.options {
    position:absolute;
    right: 30px;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar { width: 8px; }

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #E6E6E6; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: #B3B3B3; }